*{outline: none;}
.toolbar {padding-top: 2rem;}
.material-select {
	display: block;
    float: left;
	width: 4rem;
	height: 4rem;
	border-radius: 5px;
	margin-right: .5rem;
	border: none;
	border: 4px solid #F4ECEA;
	cursor: pointer;
	transition: .3s ease;	
}
.material-select:hover {border: 4px solid red;}
#material-1 {background: red;}
#material-2 {background: blue;}
#material-3 {background: green;}
/*#material-4 {background: url(../img/materials/Bradshaw.jpg);}*/